:root {
  --bg-color: blue;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-image: radial-gradient(#1f3757, #131537);
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.mainscreen {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.take-to {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 400px;
  height: 400px;
}

.main-headers {
  color: white;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
}
